<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Download</display-name>
  
  <servlet>
  	<servlet-name>DownloadServlet</servlet-name>
  	<servlet-class>com.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DownloadServlet</servlet-name>
  	<url-pattern>/download</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>getIndex</servlet-name>
  	<servlet-class>com.servlet.getIndex</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getIndex</servlet-name>
  	<url-pattern>/getIndex</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/404.html</location>
  </error-page>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>